Переформатировать ноутбук для аренды под таксопарк  авто в городе "Электросталь"

## Исходные данные были обезличены и трансформированы
## для публичной демонстрации проекта.

In [46]:
#clear_data.ipynb
import pandas as pd
from datetime import date
today = date.today().strftime("%Y-%m-%d")
import scripts as ss
import matplotlib.pyplot as plt

df_raw = pd.read_csv(
    "archive/operations.csv",
    sep=";",
    engine="python",
    header=0
)
df_u = pd.read_csv(
    "archive/cars.csv",
    sep=";",
    engine="python",
    header=0
)

In [47]:
df_u["id"] = df_u["id"].astype(str)
df_raw['car_id'] = df_raw['car_id'].astype(str)
cars = ['0','0', '0', '0', '0', '0', '0', '0', '0', '0', ]
date_start = '2025-01-01'
date_end = '2025-12-31'
types =  ['fact', 'payment', 'debit']
df_raw['date'] = pd.to_datetime(
    df_raw['date'],
    dayfirst=True,
    errors='coerce'
)
df_o = ss.get_ops_for_period(df_raw, cars, date_start, date_end, types)

#df_o.head(30)

In [48]:
car_map = {
    '0': 'CAR_01',
    '1': 'CAR_02',
    '2': 'CAR_03',
    '3': 'CAR_04',
    '4': 'CAR_05',
    '5': 'CAR_06',
    '6': 'CAR_07',
    '7': 'CAR_08',
    '8': 'CAR_09',
    '9': 'CAR_10',
    "10": "CAR_11",
    "11": "CAR_12",
    "12": "CAR_13",
}

df_u = ss.anonymize_car_id(df_u, 'id', car_map)
df_o = ss.anonymize_car_id(df_o, 'car_id', car_map)
df_u = ss.scale_amount(df_u, 'purchase_price', 0)
df_o = ss.scale_amount(df_o, 'amount', 0)
df_o = ss.jitter_dates_in_range(df_o, 'date', 5, '2025-01-01', '2025-12-31')
df_o['date'] = pd.to_datetime(df_o['date'], errors='coerce')
df_o["amount"] = df_o["amount"].astype(float)
df_u["purchase_price"] = df_u["purchase_price"].astype(float)
df_o['date'] = df_o['date'].dt.strftime('%d.%m.%Y')



df_o.head(30)

,type,operations_id,contract_id,car_id,date,amount,descriptions
5,debit,CD002,NaN,CAR_08,01.01.2025,-4840.0,NaN
6,fact,CF001,NaN,CAR_08,03.01.2025,9680.0,NaN
7,payment,CP005,NaN,CAR_08,03.01.2025,4840.0,NaN
8,fact,CF002,NaN,CAR_02,03.01.2025,23100.0,NaN
9,payment,CP006,NaN,CAR_02,03.01.2025,23100.0,NaN
10,fact,CF003,NaN,CAR_03,03.01.2025,21120.0,NaN
20,debit,CD006,NaN,CAR_01,05.02.2025,-17600.0,NaN
21,fact,CF006,NaN,CAR_01,05.02.2025,17600.0,NaN
22,fact,CF007,NaN,CAR_08,05.02.2025,4840.0,NaN
23,payment,CP011,NaN,CAR_08,05.02.2025,4840.0,NaN
24,fact,CF008,NaN,CAR_03,05.02.2025,40040.0,NaN
25,payment,CP012,NaN,CAR_03,05.02.2025,40040.0,NaN
26,fact,CF009,NaN,CAR_09,05.02.2025,30800.0,NaN
36,debit,CD009,NaN,CAR_07,06.03.2025,4840.0,NaN
37,payment,CP018,NaN,CAR_07,06.03.2025,4840.0,NaN
38,debit,CD010,NaN,CAR_08,06.03.2025,-4400.0,NaN
39,fact,CF012,NaN,CAR_08,05.03.2025,9680.0,NaN
40,payment,CP019,NaN,CAR_08,05.03.2025,5280.0,NaN
41,fact,CF013,NaN,CAR_09,05.03.2025,30800.0,NaN
50,fact,CF015,NaN,CAR_07,04.04.2025,4840.0,NaN
51,payment,CP025,NaN,CAR_07,04.04.2025,4840.0,NaN
52,debit,CD013,NaN,CAR_08,04.04.2025,5280.0,NaN
53,payment,CP026,NaN,CAR_08,04.04.2025,5280.0,NaN
54,payment,CP027,NaN,CAR_05,04.04.2025,33880.0,NaN
55,payment,CP028,NaN,CAR_04,04.04.2025,41580.0,NaN
66,debit,CD017,NaN,CAR_07,06.05.2025,4840.0,NaN
67,payment,CP034,NaN,CAR_07,06.05.2025,4840.0,NaN
68,fact,CF018,NaN,CAR_08,06.05.2025,5280.0,NaN
69,payment,CP035,NaN,CAR_08,06.05.2025,5280.0,NaN
78,debit,CD021,NaN,CAR_07,05.06.2025,4840.0,NaN

In [35]:
missing = df_u.loc[~df_u['id'].str.startswith('CAR_'), 'id'].unique()
print(missing)

[]

In [36]:
print(df_o.head(2))
print(df_u.head(2))
print(df_o.dtypes)

    type operations_id  contract_id  car_id       date  amount  descriptions
5  debit         CD002          NaN  CAR_08 2025-01-06   -4840           NaN
6   fact         CF001          NaN  CAR_08 2025-01-06    9680           NaN
       id    model  year  purchase_price purchase_date      status  \
0  CAR_01  Solaris  2016         1210000           NaN  Не активен
1  CAR_02  Solaris  2017         1892000    09.07.2019      Ремонт

    insurance    owner descriptions
0  28.01.2026  Mikhail          NaN
1  14.06.2026  Mikhail          NaN
type                     object
operations_id            object
contract_id             float64
car_id                   object
date             datetime64[ns]
amount                    int64
descriptions            float64
dtype: object

In [49]:
df_u.to_csv("processed/cars.csv", sep=";", index=False, encoding="utf-8-sig")
df_o.to_csv("processed/operations.csv", sep=";", index=False, encoding="utf-8-sig")